<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Title</title>
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
          integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>-->
  <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>
<body>
<!--  <h1 class="title">Hello!</h1>-->

<!--  <button class="changeColor">Click me</button>-->

</body>
<!--<script src="js/index.js"></script>-->
<!--<script src="js/fetch.js"></script>-->
<!--<script src="js/axios.js"></script>-->
<!--<script src="js/jQuery.js"></script>-->
<script src="js/local_storage.js"></script>

</html>